<div style="display: flex; flex-direction: column;">
  <div
    *ngFor="let line of board; index as i" 
    style="display: flex; align-self: center;">
    <div
      class="tile"
      *ngFor="let tile of line; index as j"
      [ngClass]="[tile.colorClass, tile.isOpen ? 'open' : '', tile.isOpen ? 'number' + tile.number : '']"
      (click)="tilePrimaryClick($event, tile)"
      (contextmenu)="tileSecondaryClick($event, tile)">
      <fa name="bomb" *ngIf="gameResult && tile.isBomb"></fa>
      <span *ngIf="!(gameResult && tile.isBomb)">
        <fa name="flag" *ngIf="tile.isFlag" [ngClass]="gameResult && !tile.isBomb ? 'danger' : ''"></fa>
        <span *ngIf="!tile.isFlag">
            {{ (tile.isOpen ? (tile.number ? tile.number : '') : '') }}
        </span>
      </span>
    </div>
  </div>
  <div class="game-stats">
    <div class="flags-count">
      <fa name="flag"></fa>
      {{ numberOfFlags }}/{{ numberOfBombs }}
    </div>
    <div class="timer">
      <fa name="clock-o"></fa>
      {{ minutesElapsed }}:{{ secondsElapsed }}
    </div>
  </div>
  <div *ngIf="gameResult" class="game-result">
    <h1>You {{ gameResult }}!</h1>
    <button (click)="restart()">Restart</button>
  </div>
</div>
